*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn-container button {
  font-size: 14px;
  padding: 5px;
}

#root {
  width: 100%;
  text-align: center;
}

.table-wrapper {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  overflow: hidden;
}

table {
  table-layout: auto;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 425px) {
  table {
    table-layout: fixed;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr th {
  background-color: #ffff99;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  cursor: pointer;
  font-size: 20px;
  /* position: sticky;
  top: 0; */
}

tbody tr:hover {
  background-color: beige;
}

th > div {
  display: flex;
  justify-content: space-between;
}

.caret {
  display: flex;
  align-items: center;
}

/* tooltip styles */

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.tooltip .tooltiptext {
  visibility: hidden;
  white-space: nowrap;
  padding: 2px 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  border: 1px solid white;
  border-radius: 2px;

  /* Position the tooltip */
  position: absolute;
  top: 100%;
  left: 100%;
  /* Animation */
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0s;
  transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
